.hero-section {
  min-height: 1080px;
  background-image: url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 200px;

  &__text-container {
    margin-bottom: 40px;

    .text-container {
      &__title {
        margin-bottom: 40px;
      }
    }
  }

  &__buttons-container {
    .buttons-container {
      &__button {
        margin-right: 30px;
      }
    }
  }
}

.help-section {
  padding: 0 4%;
  margin-bottom: 100px;

  &__desc {
    margin-bottom: 35px;
    max-width: 200px;
  }

  .icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &__single-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .single-item {
        &__title {
          font-size: 18px;
          font-weight: $medium;
          text-align: center;
          margin-top: 15px;
          line-height: 1.4;
        }
      }
    }
  }
}

.video-section {
  padding: 150px 0 500px;
  background-image: url(../img/video-section-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &__desc {
    max-width: 700px;
    margin: 0 auto;
  }
}
