.single-post {
  padding: 0 25%;

  .post-content {
    &__thumbnail {
      width: 100%;
      min-height: 385px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }

    &__short-info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 30px 0;

      .short-info {
        &__text {
          font-size: 14px;
          color: $color-header;
          margin-right: 45px;
          padding-left: 30px;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            width: 17px;
            height: 17px;
            left: 0;
            top: 50%;
            transform: translate(0%, -50%);
          }

          &.text {
            &--author {
              &:before {
                background-image: url(../img/ico-author.png);
              }
            }

            &--date {
              &:before {
                background-image: url(../img/ico-date.png);
              }
            }

            &--tag {
              &:before {
                background-image: url(../img/ico-tag.png);
              }
            }
          }
        }
      }
    }

    &__title {
      font-size: 30px;
      font-weight: $semi-bold;
      margin: 30px 0;
      line-height: 1.7;
    }

    &__text {
      h2 {
        margin: 40px 0 20px;
      }

      h3 {
        margin: 40px 0 20px;
      }

      img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 30px auto;
      }
    }
  }
}
