.btn {
  display: inline-block;
  color: #fff !important;
  text-align: center;
  border-radius: 50px;
  padding: 15px 50px 15px 35px;
  outline: none;
  border: none;
  appearance: none;
  cursor: pointer;
  background: rgb(0, 198, 255);
  background: -moz-linear-gradient(
    90deg,
    rgba(0, 198, 255, 1) 0%,
    rgba(0, 114, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(0, 198, 255, 1) 0%,
    rgba(0, 114, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(0, 198, 255, 1) 0%,
    rgba(0, 114, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00c6ff",endColorstr="#0072ff",GradientType=1);
  -webkit-box-shadow: 0px 0px 41px -1px rgba(0, 198, 255, 0.8);
  -moz-box-shadow: 0px 0px 41px -1px rgba(0, 198, 255, 0.8);
  box-shadow: 0px 0px 41px -1px rgba(0, 198, 255, 0.8);
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 5px;
    height: 10px;
    background-image: url(../img/ico-button-arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    top: 50%;
    transform: translate(0, -50%);
    right: 35px;
    transition: all 0.25s;
  }

  &:hover {
    color: #fff;
    &:after {
      right: 25px;
    }
  }

  &--small {
    padding: 10px 25px;

    &:after {
      display: none;
    }
  }

  &--white {
    background: #fff;
    color: $color-dark-blue !important;
  }

  &--black-shadow {
    -webkit-box-shadow: 0px 0px 30px -2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 30px -2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 30px -2px rgba(0, 0, 0, 0.3);
  }

  &--white-shadow {
    -webkit-box-shadow: 0px 0px 30px -2px rgba(255, 255, 255, 0.7);
    -moz-box-shadow: 0px 0px 30px -2px rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 30px -2px rgba(255, 255, 255, 0.7);
  }
}

input {
  width: 100%;
  height: 40px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: $regular;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid $color-light-blue;
  outline: none;
  appearance: none;
  color: $text-color;

  &::placeholder {
    opacity: 0.3;
  }
}

textarea {
  width: 100%;
  max-height: 300px;
  min-height: 200px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: $regular;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid $color-light-blue;
  outline: none;
  appearance: none;
  color: $text-color;
  resize: none;

  &::placeholder {
    opacity: 0.3;
  }
}
