.subpage-header {
  min-height: 400px;
  background-image: url(../img/subpage-header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-breakpoint-down(md) {
    min-height: 300px;
  }

  &__title {
    text-align: center;
    font-weight: $regular;
  }
}
