/**
* styles.scss
* ---
* Main `sass` file. Import here `sass` files
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap&subset=latin-ext');

@import 'modules/bootstrap/bootstrap';
// @import 'modules/bootstrap/mixins/_breakpoints';
@import 'modules/bootstrap/_variables';
@import 'modules/bootstrap/_functions';
@import 'modules/_variables';
@import 'modules/_mixins';
@import 'modules/_hamburgers';
@import 'modules/_slick';
@import 'modules/_slick-theme';

.container-fluid {
  padding-left: 8.33%;
  padding-right: 8.33%;

  @include media-breakpoint-down(lg) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include media-breakpoint-down(md) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

body {
  background-color: #fff;
  color: $text-color;
  font-family: $font-lato;
  font-style: normal;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: 300;
  overflow-x: hidden;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
html {
  height: 100%;
}
b,
strong {
  font-weight: 700;
}
.center,
.aligncenter {
  text-align: center;
  margin: 0 auto;
}
p {
  color: $text-color;
  margin: 0px;
  font-size: $font-size-base;
  font-weight: $light;
}
a {
  color: $text-color;
  font-weight: $light;
  margin: 0px;
  transition: all 150ms linear;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $color-dark-blue;
    text-decoration: none;
  }
}
svg {
  transition: all 150ms linear;
  path {
    transition: all 150ms linear;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-header;
  font-weight: 300;
  margin: 0px;
  line-height: 1.7;
}
h1 {
  font-size: 44px;

  @include media-breakpoint-down(lg) {
    font-size: 38px;
  }

  @include media-breakpoint-down(md) {
    font-size: 36px;
  }

  @include media-breakpoint-down(xs) {
    font-size: 30px;
    line-height: 1.4;
  }
}
h2 {
  font-size: 39px;
  font-weight: $extra-light;
  position: relative;
  line-height: 1.3;
  margin-bottom: 30px;

  @include media-breakpoint-down(lg) {
    font-size: 34px;
  }

  @include media-breakpoint-down(md) {
    font-size: 32px;
  }

  @include media-breakpoint-down(xs) {
    font-display: 28px;
  }

  &.small {
    font-size: 30px;
    font-weight: $semi-bold;
    margin-bottom: 20px;
    line-height: 1.7;

    @include media-breakpoint-down(md) {
      font-size: 26px;
    }
  }

  &.line-top {
    &:before {
      content: '';
      position: absolute;
      background: rgb(0, 198, 255);
      background: -moz-linear-gradient(
        90deg,
        rgba(0, 198, 255, 1) 0%,
        rgba(0, 114, 255, 1) 100%
      );
      background: -webkit-linear-gradient(
        90deg,
        rgba(0, 198, 255, 1) 0%,
        rgba(0, 114, 255, 1) 100%
      );
      background: linear-gradient(
        90deg,
        rgba(0, 198, 255, 1) 0%,
        rgba(0, 114, 255, 1) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00c6ff",endColorstr="#0072ff",GradientType=1);
      -webkit-box-shadow: 0px 0px 41px -1px rgba(0, 198, 255, 0.8);
      -moz-box-shadow: 0px 0px 41px -1px rgba(0, 198, 255, 0.8);
      box-shadow: 0px 0px 41px -1px rgba(0, 198, 255, 0.8);
      width: 31px;
      height: 5px;
      border-radius: 5px;
      left: 0;
      top: -30px;
    }

    &.text-right {
      &:before {
        right: 0;
        left: unset;

        @include media-breakpoint-down(sm) {
          left: 0;
          right: unset;
        }
      }
    }
  }
}
ul,
ol,
address {
  margin: 0px;
  padding: 0px;
}
.appleFix {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.anchor {
  display: block;
  height: 74px;
  margin-top: -74px;
  visibility: hidden;
}

// Custom css
@import 'components/_elements';
@import 'components/_header';
@import 'components/_footer';
@import 'components/_contactForm';
@import 'components/_subpageHeader';

// Pages
@import 'pages/_page-home';
@import 'pages/_page-blog';
@import 'pages/_page-thank-you';
@import 'pages/_post';

// Media
@import 'modules/_media';
@import 'modules/_helpers';
